.black {
  background-color: black;
}
.error {
  background-color: #ff6961;
}
.nameCell {
  max-width: 150px;
  min-width: 65px;
  width: 150px;
  padding: 0px !important;
  height: 50px;
}

th {
  max-width: 60px;
  width: 60px;
}

.cell {
  max-width: 65px;
  min-width: 65px;
  width: 65px;
  padding: 0px !important;
  height: 50px;
}

td {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

input {
  max-width: 100%;
  padding: 25px;
  margin: 0px;
  border: 0px;
  height: 50px;
}