<html>

<head>
  <title>Vívás jegyzőkönyv</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
  <div class="container" id="vapp">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Jegyzőkönyv</h1>
        <div class="table-responsive">
          <table class="table caption-top mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Név</th>
                <th v-for="cols, index in reportMatrix">{{ index + 1 }}.</th>
                <th scope="col">Gy</th>
                <th scope="col">AT</th>
                <th scope="col">Arány</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row, rowIndex in reportMatrix">
                <th scope="row">
                  {{ rowIndex + 1 }}
                  <a href="#" @click="deleteFencer(rowIndex) "><i class="pl-2 fa fa-trash" aria-hidden="true"></i></a>
                </th>
                <td v-for="col, index in reportMatrix[rowIndex]"
                  v-bind:class="{ black: col == 'n/a', cell: index != 0, nameCell: index == 0 }">
                  <template v-if="index == 0">
                    <input type="text" v-model="reportMatrix[rowIndex][index]" />
                  </template>
                  <template v-else>
                    <template v-if="col == 'n/a'"> </template>
                    <template v-else>
                      <input type="text" maxlength="1" v-model="reportMatrix[rowIndex][index]" v-uppercase/>
                    </template>
                  </template>
                </td>
                <td>{{ numberOfVictories(row) }}</td>
                <td>{{ givenScore(row) }}</td>
                <td>{{ ratio(rowIndex) }}</td>
              </tr>
              <tr>
                <th scope="row">Kapott tus</th>
                <td>#</td>
                <td v-for="row, rowIndex in reportMatrix">
                  {{ receivedScore(rowIndex) }}
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary mb-5" @click="addNew()">
            Hozzáadás
          </button>
          <button class="btn btn-primary mb-5" @click="ranking()">
            Helyezések
          </button>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <template v-if="orderedMatrix.length != 0">
          <div v-for="fencer, index in orderedMatrix">
            {{ index + 1 }}. {{ fencer[0] }}
          </div>
        </template>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="./js/main.js"></script>
</body>

</html>